/* imports */
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* universal styles */
* {
    margin: 0;
    padding: 0;
    /* font-family: 'Patrick Hand', cursive; */
    font-family: 'Roboto Mono', sans-serif;
    box-sizing: border-box;
}

.section-title {
    margin-top: 2em;
    font-size: 2em;
}

.accent-color {
    color: rgb(238, 110, 110);
}

.paragraph-margin {
    margin-top: 1em;
}

/* header styles */
.header-elements {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1em auto auto auto;
    max-width: 75%;
}

header h1 {
    flex-wrap: nowrap;
    font-size: 2em;
}

header a {
    text-decoration: none;
    color: #07073d;

}

.nav-elements {
    text-align: right;
    flex-grow: 1;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
    padding-left: 1em;
    font-size: 1.2em;
}

/* main styles */
main {
    max-width: 75%;
    margin: auto;
    color: #07073d;
}

/* project container styles */
.project-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1.7em;
    justify-content: space-between;

}

.article-container {
    width: 20vw;
}

.project-image {
    width: 25vw;
    box-shadow: 10px 9px 25px 1px rgba(190,190,190,0.52);
}

.article-title {
    margin-bottom: 1em;
    font-size: 1.3em;
    font-weight: normal;
}

.project-link {
    text-decoration: none;
    color: rgb(238, 110, 110);
}

/* responsive styles */
@media only screen and (min-width: 320px) and (max-width: 480px) {
    main {
        max-width: 90%;
    }

    .header-elements {
        flex-direction: column;
    }

    .nav-elements {
        margin-top: .5em;
    }
    
    nav li {
        display: block;
        padding-left: 0;
        text-align: center;
    }

    .project-container {
        flex-direction: column;
    }

    .project-image {
        width: 85vw;
    }

    .article-container {
        width: 90vw;
        margin-bottom: 2em;
    }
    
}

@media only screen and (min-width: 481px) and (max-width: 768px) {

    .header-elements {
        flex-direction: column;
    }
    
    nav li {
        display: block;
        padding: auto;
        text-align: center;
    }

    .project-container {
        flex-direction: column;
    }

    .project-image {
        width: 70vw;
    }

    .article-container {
        width: 75vw;
        margin-bottom: 2em;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
    main {
        max-width: 50%;
    }

    .header-elements {
        flex-direction: column;
    }

    .nav-elements {
        flex-grow: 0;
        padding-top: .5em;
    }

    nav li {
        padding-left: 0;
        text-align: center;
    }

    .project-container {
        flex-direction: column;
    }

    .project-image {
        width: 50vw;
    }
    
    .article-container {
        width: 50vw;
        margin-bottom: 2em;
    }
}

@media only screen and (min-width: 1201px) {
    .article-description {
        width: 25vw;
    }
}