/* imports */
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

/* universal styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Patrick Hand', cursive;
    
}

.section-title {
    margin-top: 2em;
    font-size: 2em;
}

.accent-color {
    color: rgb(238, 110, 110);
}

/* body {
    background: linear-gradient(0deg,rgb(183, 232, 245) 0%, rgba(252,219,219,1) 75%);
    background-repeat: no-repeat;
    background-attachment: fixed;
} */

/* header styles */
.header-elements {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1em auto auto auto;
    max-width: 80%;
}

header h1 {
    flex-wrap: nowrap;
}

header a {
    text-decoration: none;
    color: black;
}

.nav-elements {
    text-align: right;
    flex-grow: 1;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
    padding-left: 1.5em;
    font-size: 1.5em;
    font-weight: bold;
}

/* main styles */
main {
    max-width: 80%;
    margin: auto;
}

/* project container styles */
.project-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1.7em;
    justify-content: space-between;
}

/* article container styles */
/* maybe make each article container a little card with a fancy box shadow background */

.article-container {
    width: 20vw;
}

.project-image {
    width: 320px;
}

.article-title {
    margin-top: 1em;
}

.article-description {
    margin-top: .5em;
}

.project-link {
    text-decoration: none;
    color: rgb(238, 110, 110);
}

/* about section styles */
/* .about-section {
    margin-top: 4em;
} */